.errorText {
    color: red;
    padding-top: 1em;
    size: 5em;
  }
.spacer{
    margin-top: 10em;
}
.horizontalSignup{
  display: inline-block;
  vertical-align: top;
}
.NewToAppLabel{
  padding-left: 1em;
  font-style: italic;
}
